.advantages {
    padding-top: 94px;
    padding-bottom: 60px;
    

    @media screen and (min-width:1200px) {
        padding-bottom: 94px;
    }


    &__list {

    @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    }
    }

    &__item {
       display: inline-block;
       margin-bottom: 30px;
       width: 100%;
        
       @media screen and (min-width:768px) {
       width:calc((100% - 2 * 15px)/2);

       }
       @media screen and (min-width:1200px) {
       width: calc((100% - 6 * 15px)/4);
       }
    }

    &__pictureBlock {
        background-color: var(--background-our-team-color);
        height: 120px;
        border-radius: 4px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 65.32px;
        height: 70px;
        fill: currentColor;
    }

    &__title {
    color: var(--small-text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width:768px) {
        text-align: start;
    }
  
    }

    &__text {
        font-size: 14px;
        color: var(--main-text-color);
        line-height: 1.71;
    }

}