

.header {
    border-bottom: 1px solid #ECECEC;
    &__items {
        display: flex;
        position: relative;
        justify-content: space-between;
    }
}


.current {
    color: var(--background-button-hover);
   
    &:after{
        position: absolute;
        top: 46px;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background: #2196F3;
        border-radius: 2px;
}
        
}

