.logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
    margin: 24px 93px 25px 0px;

    

    &__blue-part {
        color: var(--background-button-hover);
        margin-right: -6px;
    }

    &__black-part {
        color: var(--small-text-color);
    }

    &__white-part {
        color: var(--button-and-h1-color);
    }

    &.bottom {
        margin-right: 0px;
    }

}