.navigation {
    display: flex;
 
    justify-content: space-between;
    width: 100%;


    &__list {
        display: flex;
        list-style: none;

        @media screen and (max-width:768px) {
            display: none;
        }
    }

    &__link {
        text-decoration: none;
        color: var(--small-text-color);
        font-weight: 500;
        letter-spacing: 0.02em;
        font-size: 14px;
        line-height: 1.14;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    }

    &__link:hover,
    &__link:active,
    &__link:focus {
        color: var(--background-button-hover);
    }

    &__item {
        margin: auto 50px auto 0;
        position: relative;
    }

    &__icon-cross {
        display:none;
    }
}


.button-mobile {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;

    &__icon-cross {
    display: none;
    }

    &.is-open &__icon-cross {
     display: block;
    }
    
    &.is-open &__icon-menu {
    display: none;
    }
}


.menu-container {
    display: none;
    position: absolute;
    top:100%;
    left:0;
    width:100%;
    background-color: palegoldenrod;
    padding:20px;
    text-align: center;
    font-size:20px;
    z-index: 1;

    &.is-open {
        display: block;
    }
}