.banner {
    position: relative;
    background-image: linear-gradient(to right, #2F303A66, #2F303A66), url("../images/background/header-mob-1x.jpg");
    background-color: var(--background-header-footer-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 118px;
    padding-bottom: 118px;

    &__title {
    color: var(--button-and-h1-color);
    text-transform: uppercase;
    line-height: 1.61;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.06em;
    max-width: 360px;
    margin: 0 auto 30px auto;

    @media screen and (min-width:768px){
        
    }

    @media screen and (min-width:1200px) {
    line-height: 1.36;
    font-size: 44px;
    max-width: 696px;
    margin: 0 auto 45px auto;
    }

}
  
        @media screen and (min-width:768px) {

        }
    
        @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        }


}

@media (min-resolution: 2dppx) {
    .banner {
    background-image: linear-gradient(to right, #2F303A66, #2F303A66), url("../images/background/header-mob-2x.jpg");
    }
}
@media (min-resolution: 3dppx) {
    .banner {
        background-image: linear-gradient(to right, #2F303A66, #2F303A66), url("../images/background/header-mob-3x.jpg");
    }
}


@media screen and (min-width:768px){
    .banner {
        background-image: linear-gradient(to right, #2F303A66, #2F303A66), url("../images/background/header-table-1x.jpg");
    }

    @media (min-resolution: 2dppx) {
    .banner {
        background-image: linear-gradient(to right, #2F303A66, #2F303A66), url("../images/background/header-table-2x.jpg");
    }
    }

    @media (min-resolution: 3dppx) {
    .banner {
        background-image: linear-gradient(to right, #2F303A66, #2F303A66), url("../images/background/header-table-3x.jpg");
    }
    }
}

@media screen and (min-width:1200px) {
    .banner {
        background-image: linear-gradient(to right, #2F303A66, #2F303A66), url("../images/background/header-decst-1x.jpg");
    }

    @media (min-resolution: 2dppx) {
        .banner {
            background-image: linear-gradient(to right, #2F303A66, #2F303A66), url("../images/background/header-decst-2x.jpg");
        }
    }

    @media (min-resolution: 3dppx) {
        .banner {
            background-image: linear-gradient(to right, #2F303A66, #2F303A66), url("../images/background/header-decst-3x.jpg");
        }
    }
}


