
.modal {
    position: absolute;
    max-width: 450px;
    width:97%;
    height:609px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;

    @media screen and (min-width:1200px) {
    max-width: 528px;
    height: 581px;
    }

    &__form {
        display: block;
    }

    &__header {
        color: #212121;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        margin-bottom: 2px;
    }

    &__label {
        text-align: left;
        display: flex;
        flex-direction: column;
        color: #757575;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        margin-bottom: 4px;
        margin-top: 10px;
    }

    &__field {
        position: relative;

    }

    &__entry {
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        font-size: 16px;
        padding: 6px 6px 6px 42px;
        font-size: 16px;
        width: 100%;
        height: 40px;

        &:focus + .modal__icon,
        &:hover + .modal__icon
        {
                fill: #2196F3;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

        &:focus,
        &:hover {
                border: 1px solid #2196F3;
                outline: transparent;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__icon {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__field-comment {
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin-bottom: 20px;
        height: 120px;
        width: 100%;
        resize: none;

        @media screen and (min-width:1200px) {
        width: 448px;
    }

        &:focus,
        &:hover {
                border: 1px solid #2196F3;
                outline: transparent;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

        &::placeholder {
                font-weight: 400;
                font-size: 12px;
                line-height: 1.16;
                color: rgba(117, 117, 117, 0.5);
        }
    }
}


