.social-media {
    display: flex;
    text-align: center;
    padding-top: 16px;
    list-style-type: none;


    &__item {
    width: 44px;
    height: 44px;
     
    &:nth-child(1) {
    margin-left: 32px;
    margin-right: 10px;
    }

    &:nth-child(2) {
    margin-right: 10px;
    }
    
    &:nth-child(3) {
    margin-right: 10px;
    }

    &:nth-child(4) {
    margin-right: 32px;
    }

    }
    &__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    color: var(--background-svg-color);

    &:hover,
    &:focus {
    background-color: var(--background-button-hover);
        color: var(--button-and-h1-color);
        border-radius: 50%;
        cursor: pointer;
    
        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    }

    }

    &__icon {
    fill: currentColor;
    }
}






.social-media-footer {
    margin-top: 15px;

    &__header {
    color: var(--button-and-h1-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;

    }

    &__list {
    list-style-type: none;
    display: flex;
 }

    &__item {
        margin-left: 0px;
        margin-right: 10px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        color: var(--button-and-h1-color);

        &:last-child {
            margin-right: 0px;
        }

    }

    &__link {
        display: flex;
        width: 44px;
        height: 44px;
        align-items: center;
        justify-content: center;
        color: var(--button-and-h1-color);

        &:hover,
        &:focus {
            background-color: var(--background-button-hover);
            color: var(--button-and-h1-color);
            border-radius: 50%;
            cursor: pointer;

            transition-property: background-color, color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
        }

    }

    &__icon {
        fill: currentColor;
    }

}