:root {
    --button-and-h1-color: #FFFFFF;
    --main-text-color: #757575;
    --small-text-color: #212121;
    --background-button-hover: #2196F3;
    --background-header-footer-color: #2F303A;
    --background-our-team-color: #F5F4FA;
    --background-svg-color: #AFB1B8;
}