.mobile-menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    background-color: #FFFFFF;
    padding: 20px;
    font-size: 20px;
    z-index: 1;

    &.is-open {
        display: block;
    }

    @media screen and (min-width:768px) {
        display: none;
    }
}

.mobile-menu-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto;
    padding: 48px 21px 48px 40px;
    width: 100vw;
    height: 100vh;
}

.mobile-navigation-top {
    @media screen and (min-width:768px) {
        display: none;
    }
}

.mobile-navigation-bottom {
    @media screen and (min-width:768px) {
        display: none;
    }


}

.mobile-navigation {
    list-style: none;


    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17px;
        color: #212121;

        &:hover,
        &:active {
            color: #2196F3;

        }
    }

    &__item:not(:last-child) {
        margin-bottom: 32px;
    }

}

.mobile-contacts {
    list-style: none;

    &__phone {
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        color: #2196F3;
        text-decoration: none;
    }

    &__mail {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #757575;
        text-decoration: none;
    }

    &__item:first-child {
        margin-bottom: 32px;
    }

    &__item:last-child {
        margin-bottom: 64px;
    }
}


.button-mobile {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;

    &:hover,
    :active {
        fill: #2196F3;
    }


    &.is-open &__icon-cross {
        display: block;
    }

    &.is-open &__icon-menu {
        display: none;
    }

    @media screen and (min-width:768px) {
        display: none;
    }
}


.mobile-social-menu {
    display: flex;
    list-style-type: none;

    &__item {
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);

        &:last-child {
            border-right: none;
            padding-right: 0px
        }

        &:first-child {
            padding-left: 0px;
        }

    }

    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        color: #2196F3;
        letter-spacing: 0.02em;
        line-height: 1.2;
    }
}


.button-open {}


.button-close {}